
<app-header></app-header>

 <section class="header-margin">
    <div class="generic-font ">
      <div class="main-text">
        ਅੱਜ, ਜਦੋਂ ਕੁਝ ਲੋਕ ਕੋਰੋਨਾ ਵਾਇਰਸ ਕਾਰਨ ਸਰੀਰਕ ਤੌਰ ਤੇ ਪ੍ਰੇਸ਼ਾਨ ਹਨ, ਕੁਝ ਲੋਕ ਇਸ ਵਾਇਰਸ ਕਾਰਨ ਮਾਨਸਿਕ ਤੌਰ ਤੇ ਵੀ ਪ੍ਰੇਸ਼ਾਨ ਹਨ ।
        <br> ਅਜਿਹੀ ਸਥਿਤੀ ਵਿੱਚ, ਤੁਹਾਨੂੰ ਯੋਗਾ ਨਾਲ ਜੁੜੇ ਰਹਿਣ ਦੀ ਬਹੁਤ ਜ਼ਰੂਰਤ ਹੈ ।
        ਯੋਗਾ ਨਾ ਸਿਰਫ ਤੁਹਾਡਾ ਸਰੀਰ ਮਜ਼ਬੂਤ ਬਣਾਉਂਦਾ ਹੈ, ਬਲਕਿ ਇਸ ਨਾਲ ਤੁਹਾਡੀ ਮਾਨਸਿਕਤਾ ਵੀ ਮਜ਼ਬੂਤ ਬਣ ਜਾਂਦੀ ਹੈ ।
        <br>ਯੋਗਾ ਦਾ ਅਰਥ ਨਾ ਸਿਰਫ ਆਪਣੇ ਆਪ ਨੂੰ ਸਰੀਰਕ ਤੌਰ ਤੇ ਮਜ਼ਬੂਤ ਕਰਨਾ,
        ਬਲਕਿ ਮਾਨਸਿਕ ਤੌਰ ‘ਤੇ ਆਪਣੇ ਆਪ ਨੂੰ ਕੋਰੋਨਾ ਵਾਇਰਸ ਵਰਗੀ ਹਰ ਸਥਿਤੀ ਲਈ ਤਿਆਰ ਰੱਖਣਾ ਹੈ ।
      </div>
    </div>
  </section>

<app-footer></app-footer>

<!--


  ਇਸ ਪ੍ਰਾਣਾਯਾਮ ਦਾ ਅਭਿਆਸ ਕਰਨ ਲਈ ਇੱਕ ਸ਼ਾਂਤ ਅਤੇ ਸਾਫ ਆਲੇ ਦੁਆਲੇ ਦੀ ਚੋਣ ਕਰੋ
  ਸੌਖੀ ਸਥਿਤੀ ਵਿਚ ਬਿਸਤਰੇ 'ਤੇ ਬੈਠੋ (ਲੰਬੇ ਪੈਰ ਵਾਲੇ)
  ਆਪਣੀ ਪਿੱਠ ਨੂੰ ਸਿੱਧਾ ਰੱਖੋ, ਆਪਣੀਆਂ ਅੱਖਾਂ ਬੰਦ ਕਰੋ ਅਤੇ ਸਾਹ 'ਤੇ ਧਿਆਨ ਕੇਂਦਰਤ ਕਰੋ
  ਅੰਗੂਠੇ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਹੌਲੀ ਹੌਲੀ ਆਪਣੀਆਂ ਈਅਰਲਿਡਸ ਦਬਾਓ.
  ਆਪਣੀਆਂ ਦੋਵੇਂ ਇੰਡੈਕਸ ਉਂਗਲਾਂ ਮੱਥੇ ਉੱਤੇ ਅਤੇ ਬਾਕੀ ਦੀਆਂ ਉਂਗਲਾਂ ਨੂੰ ਪਲਕਾਂ ਤੇ ਰੱਖੋ.
  ਹੁਣ ਦੋਵੇਂ ਨਾਸਾਂ ਰਾਹੀਂ ਡੂੰਘੇ ਸਾਹ ਲਓ. ਅਤੇ ਜਦੋਂ ਤੁਸੀਂ ਸਾਹ ਬਾਹਰ ਆਉਂਦੇ ਹੋ, ਆਪਣਾ ਮੂੰਹ ਖੋਲ੍ਹਣ ਤੋਂ ਬਿਨਾਂ ਇਕ ਗੂੰਜਦੀ ਆਵਾਜ਼ ਪੈਦਾ ਕਰੋ.
  ਜਬਾੜੇ, ਬੁੱਲ੍ਹਾਂ ਅਤੇ ਗਲ਼ੇ ਵਿਚ ਕੰਬਣੀ ਮਹਿਸੂਸ ਕਰੋ.-->


