.section-1{
  background: #f2d0a5;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #514654;
  font-weight: 600;
}

.main-card{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: grid;
  text-align: center;
  grid-template-rows: auto auto;
  margin-top: 10px;
  justify-content: center;
  padding-bottom: 12px;

}

.yoga-card-img{
  width: 350px;
}
.card-text{
  background: #514654;
  color: white;
  font-size: 20px;
  padding: 10px;

}







@media only screen and (max-width: 600px) {
  .header-img{
    width: 125px;
  }
  .main-text{
    width: 100%;
    line-height: 40px;
    font-size: 26px;
    padding: 10px;
  }
  .section-1{
    font-size: 30px;
    cursor: pointer;
  }
}
